<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save/Update Library Details</title>
	<style>
		body 
		{
	        background: #CBDCF7;
	        margin: 0;
      	}
      	.container 
      	{
			  margin-top: 20px;
			  border-color: dodgerblue;
			  border-style: solid ;
			  border-width: 2px;
			  border-radius: 15px;
			  height :525px;
			  width :800px
		}
      	
	</style>
</head>

<body>

	<div class="container" align="center">
	
		<h3>Library Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save/Update Library Details</p>
	
		<form action="#" th:action="@{/libraries/save}"
						 th:object="${library}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Library Name">

			<input type="text" th:field="*{commaSeperatedBooknames}"
					class="form-control mb-4 col-4" placeholder="Book 's">

			<input type="text" th:field="*{subject}"
					class="form-control mb-4 col-4" placeholder="Subject">
					
			<input type="text" th:field="*{publisher}"
					class="form-control mb-4 col-4" placeholder="Publisher">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/libraries/list}">Back to Libraries List</a>
		
	</div>
</body>

</html>